@model IEnumerable<Interview_Tracker.Models.Candidate>
<link href="~/Content/Site.css" rel="stylesheet" />

@*@{
        ViewBag.Title = "Index";
    }*@
<br />
<body style="background-color: #333333 ">
    <h2 style="font-family: 'Times New Roman', Times, serif; text-align: center; color:#FF6D3C">Candidates Details</h2>

    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@

@*<p>
    <button type="button" onclick="location.href='@Url.Action("Report", "Feedbacks")'" class="btn btn-primary" style="font-family:'Times New Roman';font-size:20px">View Report</button>
    <button type="button" onclick="location.href='@Url.Action("DetailReport", "Feedbacks")'" class="btn btn-primary" style="font-family:'Times New Roman';font-size:20px">Detail Report</button>

</p>*@
    <table class="table table-sm table-dark" id="tb-pad">
        <tr class="tr-pad" >
            <th>
                @Html.DisplayNameFor(model => model.C_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.College_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Higher_Qualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stream)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearOfPassing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Percentage)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.ResumeFile)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.FileName)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr >
                <td>
                    @Html.DisplayFor(modelItem => item.C_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.College_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Higher_Qualification, "Qualification")

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stream)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearOfPassing)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Percentage)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.ResumeFile)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.C_Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.C_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.C_Id }) |
                    @Html.ActionLink("Open PDF", "OpenFile", new { id = item.C_Id }) |
                    @Html.ActionLink("Feedback", "Create", "Feedbacks")

                </td>
            </tr>

        }

    </table>
</body>
